@full_width: 100%;
@full-height: 180px;
@product_category: white;

.mixin-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.mixin-column(@w: @full_width, @h: @full-height, @c: white, @position: center) {
  float: left;
  width: @w;
  padding: 5px;
  height: @h;
  background-color: @c;
  text-align: @position;
}

.mixin-button(@background: transparent, @border_color: white) {
  background-color: @background;
  border-radius: 20px;
  color: white;
  border-color: @border_color;

  &:hover {
    filter: brightness(150%);
    background: #7777;
    border: 1px solid @border_color;
    color: black;
  }
}

.mixin-h2 {
  color: @product_category;
  font-size: 255%;
}

* {
  box-sizing: border-box;
}

.row {
  .mixin-row();

  .column {
    .mixin-column(@full_width/3; @full-height -30px; white; left);

    .name {
      width: 55%;
      float: left
    }

    .image {
      width: 45%;
      float: right
    }
  }
}

.row2 {
  .mixin-row();

  .column {
    .mixin-column(@full_width/2; @full-height/6; black);

    p {
      color: white;
    }
  }
}

.row3 {
  .mixin-row();

  .column {
    .mixin-column(@full_width/3; @full-height/1.2; white);

    h2 {
      .mixin-h2();
    }
  }
}

.row4 {
  .mixin-row();

  .column {
    .mixin-column(@full_width/2; @full-height/1.2; white);

    h2 {
      .mixin-h2();
    }
  }
}

.button {
  .mixin-button();
}

.button2 {
  .mixin-button(@background: #B31924, @border_color: transparent);
  margin-top: 15%;
}

.circle(@color) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: normal;
  background: @color;
  box-shadow: 4px 3px 3px grey;
  background-color: @color;
}

.circle1 {
  .circle(#FD6904);
  padding-top: 12px;
}

.circle2 {
  .circle(#B6CA37);
  padding-top: 19px;
}